* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 50px;
    position: sticky;
    top: 0;
    z-index: 10;
}

header h1 {
    color: #111;
    font-size: 1.5rem;
}

nav a {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    transition: color 0.3s;
}

nav a:hover {
    color: #e74c3c;
}

#home {
    background: url('img/bgimg3.jpg') center center/cover no-repeat;    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 50px;
    background-color: #fff;
    overflow: hidden;
}
.home-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 50px;
   max-width: 1100px;
   width: 100%;
}

.home-text {
    flex: 1;
    text-align: left;
    margin-bottom: 200px;
}

.home-text h2 {
    font-size: 2.8rem;
    color: #222;
    margin-bottom: 10px;
}

.home-text button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 12px 28px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}


.home-text button:hover {
    background-color: #c0392b;
}

.home-img {
    flex: 1;
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: contain;
}


#product {
    padding: 80px 50px;
    background-color: #fff;
    text-align: center;
}

#product h2 {
    margin-bottom: 40px;
    font-size: 2rem;
}

.product {
    display: inline-block;
    width: 250px;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.product:hover {
    transform: translateY(-8px);
}

.product img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.product h3 {
    color: #333;
    margin-bottom: 5px;
}

.product p {
    color: #e74c3c;
    font-weight: bold;
}

#about {
    padding: 80px 50px;
    background-color: #f8f8f8;
    text-align: center;
}

#about p {
    max-width: 700px;
    margin: 0 auto;
    font-size: 1.1rem;
    color: #555;
}

#contact {
    padding: 80px 50px;
    text-align: center;
    background-color: #fff;
}

#contact p {
    margin: 10px 0;
}

footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9rem;
}